* {
    padding: 20px;
    margin: 20px;
  }
  
  body {
    background-color: #13c14a;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  .text {
    display: block;
    width: 50%;
    margin: 96px auto;
    /* border: 1px solid black; */
    /* turn borders off and on to see the borders of the display area */
  }
  

  
  .rock-salt-regular {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
  }
  h1 {
    font-family: 'Rock Salt';
    color: rgb(248, 184, 174);
    font-size: 3rem;
    text-align: center;
  }
  
  h2 {
    font-family: 'Rock Salt';
    color: dodgerblue;
    font-size: 2.5rem;
    text-align: left;
  }
  
  .atkinson-hyperlegible-next-ale {
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  h3 {
    font-family: 'Atkinson Hyperlegible Next';
    font-size: 1rem;
    text-align: right;
    margin-top: -2.5rem;
  }
  
  h3 a:link,
  a:visited {
    color: dodgerblue;
    text-decoration: none;
  }
  
  h3 a:hover {
    color: white;
  }
  